body {
  font-family: Helvetica Neue, Segoe;
}

/* .button{

    light: {
      color: 'black',
      backgroundColor: 'white',
      fontSize: '13px',
    },
    dark: {
      color: 'white',
      backgroundColor: 'black',
      fontSize: '13px',

}

const themes = {
  light: {
    color: 'black',
    backgroundColor: 'white',
    fontSize: '13px',
  },
  dark: {
    color: 'white',
    backgroundColor: 'black',
    fontSize: '13px',
  }; */
